article {
    display: none;
}

    article:target {
        display: block;
    }

div.mainPage {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

    div.mainPage nav {
        flex: 1 25px;
    }

        div.mainPage nav dl dt {
            padding: 5px 5px;
        }

            div.mainPage nav dl dt:hover {
                background: #FFE320;
            }

    div.mainPage article {
        flex: 12;
        align-self: center;
        padding: 0 0 0 20px;
    }

footer {
    border-top: 1px solid #FF7E20;
    background: linear-gradient( 45deg, #FFE320, #FF7E20);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

    footer p {
        color: gray;
    }

header {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background-color: #FFBA2C;
    border-bottom: 1px solid #FF7E20;
    flex-align: baseline;
}

    header img {
        flex: none;
    }

    header h1 {
        flex: auto;
        padding: 0 20px;
        color: black;
    }

nav {
    background-color: #FFBA2C;
}

    nav a {
        color: #000;
    }

table {
    border-collapse: collapse;
}

    table tr th {
        background: #FFBA2C;
        text-align: left;
    }

    table th img {
        height: 15px;
        width: 15px;
    }

    table th input {
        height: 20px;
        width: 65%;
        border: none;
        background: inherit;
        color: black;
        font: inherit;
        text-align: center;
        vertical-align: baseline;
        visibility: collapse;
    }

    table th:hover input {
        visibility: visible;
    }

{
    visibility: visible;
}

table tr {
    background: #E8BA1D;
}

    table tr td input {
        height: 20px;
        width: 100%;
        border: none;
        background: inherit;
        color: black;
        font: inherit;
        text-align: center;
        vertical-align: baseline;
    }

    table tr:hover {
        background: #FFE320;
    }

tr:nth-child(odd) {
    background: #FF7E20;
}

table, th, td {
    border: 1px solid white;
}