<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WOW students manager</title>
    <link href="../Style/MainStyleSheet.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=320, initial-scale=1">
</head>
<body>
    <script type="text/javascript" src="../Scripts/MainScript.js"></script>
    <script type="text/javascript" src="../ViewModel/MainViewModel.js"></script>
    <header>
        <img alt="Doge logo" height="100" src="../Assets/logo.png" width="100" />
        <h1>WOW students manager</h1>
    </header>

    <div class="mainPage">
        <nav>
            <dl>
                <dt> <a href="#students">List of students</a> </dt>
                <dt> <a href="#grades">List of grades</a> </dt>
                <dt> <a href="#subjects"> List of subjects</a> </dt>
            </dl>
        </nav>

        <article id="students">
            <h2>List of students</h2>
            <table>
                <tr>
                    <th>Id<input type="number" min="0" max="65535" id="studentById" /> <img alt="search" /></th>
                    <th>First name <input type="text" id="studentByName" /><img alt="search" /></th>
                    <th>Last name <input type="text" id="studentByLastName" /><img alt="search" /></th>
                    <th>Birthday <input type="date" id="studentByBirthday" /><img alt="search" /></th>
                    <th>Action</th>
                </tr>
                <tbody data-bind="foreach: students">
                    <tr>
                        <td><input type="number" placeholder="Id" data-bind="value: id" readonly="readonly" /></td>
                        <td><input type="text" placeholder="Name" data-bind="value: firstName" required /><strong data-bind="text: firstName"></strong></td>
                        <td><input type="text" placeholder="Surname" data-bind="value: lastName" required /></td>
                        <td><input type="date" data-bind="value: birthday" required /></td>
                        <td>
                            <p>
                                <button>See grades</button>
                                <button data-bind="click: $root.deleteStudent">Delete</button>
                                <button data-bind="click: $root.addStudent">Add</button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article id="grades">
            <h2>List of grades</h2>
            <table>
                <tr>
                    <th>
                        Student
                        <input type="text" id="gradeByStudentName" />
                        <img height="15" width="15" alt="search" />
                    </th>
                    <th>
                        Grade
                        <input type="number" min="2" max="5" id="gradesByGrades" />
                        <img height="15" width="15" alt="search" />
                    </th>
                    <th>
                        Date
                        <input type="date" id="gradeByDate" />
                        <img height="15" width="15" alt="search" />
                    </th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Student name" value="Bogdan Kowalski" required /></td>
                    <td><input type="text" placeholder="Student grades" value="5, 4, 3" required /></td>
                    <td><input type="date" value="2002-12-11" required /></td>
                    <td>
                        <p>
                            <button>See student</button>
                            <button>Delete</button>
                            <button>Add</button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Student name" required /></td>
                    <td><input type="text" placeholder="Student grades" required /></td>
                    <td><input type="date" required /></td>
                    <td>
                        <p>
                            <button>See student</button>
                            <button>Delete</button>
                            <button>Add</button>
                        </p>
                    </td>
                </tr>
            </table>
        </article>

        <article id="subjects">
            <h2>List of subjects</h2>
            <table>
                <tr>
                    <th>
                        Subject
                        <input type="text" id="subjectBySubjectName" />
                        <img height="15" width="15" alt="search" />
                    </th>
                    <th>
                        Teacher
                        <input type="text" id="subjectByTeacher" />
                        <img height="15" width="15" alt="search" />
                    </th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input type="text" value="Wf" required /></td>
                    <td><input type="text" value="Andrzej Kowalski" required /></td>
                    <td>
                        <p>
                            <button>See grades</button>
                            <button>Delete</button>
                            <button>Add</button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Subject" required /></td>
                    <td><input type="text" placeholder="Teacher name" required /></td>
                    <td>
                        <p>
                            <button>See grades</button>
                            <button>Delete</button>
                            <button>Add</button>
                        </p>
                    </td>
                </tr>
            </table>
        </article>
    </div>

    <footer>
        <p>
            Author: Rafał Araszkiewicz <br />
            Conntact info: <a href="mailto:exapmle@gmail.com">Conntact address</a> <br />
            University page: <a href="http://www.put.poznan.pl/" accesskey="p">http://www.put.poznan.pl/</a> <br />
        </p>
    </footer>
</body>
</html>